In [2]:
import requests
import time
import pandas as pd
import re   
from bs4 import BeautifulSoup

In [ ]:
# %pip install cloudscraper

import cloudscraper

# Use existing notebook variables if present to avoid unnecessary re-creation.

if "url" not in globals():
	url = "https://www.wheree.com/get-brands?categories%5B%5D=703&page=1&category_id=701&category_slug=Local_Services&location_id=231&location_level=0&location_slug=United_States"

# reuse existing scraper if available and valid, else create a new one
if "scraper" not in globals():
	scraper = cloudscraper.create_scraper()  # automatically handles Cloudflare challenge
else:
	try:
		from cloudscraper import CloudScraper
		if not isinstance(scraper, CloudScraper):
			scraper = cloudscraper.create_scraper()
	except Exception:
		scraper = cloudscraper.create_scraper()

# retry loop to avoid ReadTimeout errors
max_retries = 5
timeout = 60  # increase timeout
backoff = 2

resp = None
for attempt in range(1, max_retries + 1):
	try:
		resp = scraper.get(url, timeout=timeout)
		resp.raise_for_status()
		break
	except Exception as e:
		# handle read timeout and other transient errors with backoff
		print(f"Attempt {attempt} failed: {e}")
		if attempt < max_retries:
			time.sleep(backoff * attempt)
		else:
			print("Max retries reached, giving up.")

if resp is None:
	raise RuntimeError(f"Failed to fetch {url} after {max_retries} attempts.")

print("status:", resp.status_code)
print("preview:", resp.text[:1000])

# try to parse JSON using existing helper if available
if "_safe_json_parse" in globals():
	payload = _safe_json_parse(resp)
	if payload is not None:
		print("parsed JSON keys (sample):", list(payload.keys())[:20] if isinstance(payload, dict) else type(payload))
else:
	try:
		payload = resp.json()
		print("parsed JSON keys (sample):", list(payload.keys())[:20] if isinstance(payload, dict) else type(payload))
	except Exception:
		print("response is not valid JSON")

status: 200
preview: {"mapRows":{"current_page":1,"data":[{"id":6255982,"name":"Mr. Appliance Of Milwaukee","fulladdress":"S83W18745 Saturn Dr, Muskego, WI 53150, United States","alias":"mr-appliance-of-milwaukee","ranking":2147483647,"rating":4.9,"number_of_rates":0,"price_level":0,"created_at":"2025-10-01T19:10:45.000000Z","longitude":-88.148119,"latitude":42.892868,"city_id":12689,"category_id":705,"category2_id":703,"category3_id":711,"short_description":"","image":"https:\/\/static.where-e.com\/United_States\/Racine\/Mr-Appliance-Of-Milwaukee_6d7066365d5bc77cc10614fddf4f4088.jpg","openTime":[{"day_in_week":4,"time_open":28800,"time_close":61200}],"sub_cat":[{"id":705,"name":"Appliances & Repair Services","slug":"Appliances_Repair","parent_id":701,"attribute_value":0,"desc":null,"created_at":"2024-02-15T04:50:58.000000Z","updated_at":"2024-04-05T01:54:25.000000Z","on_menu":0,"order":0,"icon":null,"image":"\/2024\/04\/05\/4f84c51f9975bee6242a317305d8623416949f15.jpg","content":null,"total_brand":0},{"id
parsed JSON keys (sample): ['mapRows', 'titleTotalBrand', 'brands']

In [4]:
# scrape_all_pages_laundromarts.py
# Reuse existing notebook imports and helpers (scraper, extract_maprows_info, pd, time, re, max_retries, timeout)

# helper: normalize mapRows / brands HTML into a list of records
def extract_maprows_info(parsed):
    """
    Accepts parsed response (dict from .json() or raw HTML string) and returns
    a list of normalized record dicts. This is tolerant to several payload shapes:
      - dict with 'mapRows' -> {'data': [...]}
      - dict with 'brands' containing HTML
      - raw HTML containing brand blocks with data-brand attributes
    Returns [] on failure.
    """
    records = []
    try:
        # case: JSON dict with mapRows.data as list
        if isinstance(parsed, dict):
            mr = parsed.get("mapRows")
            if isinstance(mr, dict):
                data = mr.get("data")
                if isinstance(data, list) and data:
                    return data
            # sometimes there's a top-level 'data' list
            if isinstance(parsed.get("data"), list):
                return parsed.get("data")
            # try HTML inside 'brands' key
            brands_html = parsed.get("brands")
            if isinstance(brands_html, str):
                parsed = brands_html  # fall through to HTML parsing

        # case: parsed is HTML string -> use BeautifulSoup to extract blocks
        if isinstance(parsed, str):
            soup = BeautifulSoup(parsed, "html.parser")
            # common container class used on site: category__top__item (fallback to any element with data-brand)
            items = soup.find_all("div", class_=re.compile(r"category__top__item|category__item|category-item"))
            if not items:
                items = soup.find_all(attrs={"data-brand": True})
            for div in items:
                rec = {}
                rec["id"] = div.get("data-brand") or div.get("data-id") or None
                a = div.find("a")
                if a:
                    rec["url"] = a.get("href")
                    # try to get a title element if present
                    title = a.find(["h1", "h2", "h3", "h4", "h5"])
                    if title:
                        rec["name"] = title.get_text(strip=True)
                    else:
                        # fallback to anchor/text content
                        rec["name"] = a.get_text(separator=" ", strip=True)
                else:
                    rec["url"] = None
                    rec["name"] = div.get_text(separator=" ", strip=True)
                # optional image
                img = div.find("img")
                if img:
                    rec["image"] = img.get("src") or img.get("data-src")
                    if not rec.get("name"):
                        rec["name"] = img.get("alt")
                # include raw snippet for diagnostics
                rec["raw_html"] = str(div)
                records.append(rec)
            return records
    except Exception as e:
        # keep function safe for use in loops
        print("extract_maprows_info parse error:", e)
    return records


# ensure scraper is available
if "scraper" not in globals():
    try:
        scraper = cloudscraper.create_scraper()
    except Exception:
        raise RuntimeError("cloudscraper not available to create scraper")

# determine base URL (use existing `url` if present)
if "url" in globals() and isinstance(url, str):
    base_url = url
else:
    base_url = "https://www.wheree.com/get-brands?categories%5B%5D=703&page=1&category_id=701&category_slug=Local_Services&location_id=231&location_level=0&location_slug=United_States"

# pages to fetch: 1..908
pages = list(range(1,909))

# retry/backoff settings (reuse if defined)
_retries = globals().get("max_retries", 5)
_timeout = globals().get("timeout", 60)
_backoff = 2

all_records = []

for p in pages:
    # build page URL by replacing page=... or appending if missing
    if re.search(r"page=\d+", base_url):
        page_url = re.sub(r"page=\d+", f"page={p}", base_url)
    else:
        sep = "&" if "?" in base_url else "?"
        page_url = f"{base_url}{sep}page={p}"

    resp = None
    for attempt in range(1, _retries + 1):
        try:
            resp = scraper.get(page_url, timeout=_timeout)
            resp.raise_for_status()
            break
        except Exception as e:
            print(f"[page {p}] attempt {attempt} failed: {e}")
            if attempt < _retries:
                time.sleep(_backoff * attempt)
            else:
                print(f"[page {p}] max retries reached, skipping page.")
    if resp is None:
        continue

    # try to parse JSON; prefer resp.json() but fall back to text for extract_maprows_info
    parsed = None
    try:
        parsed = resp.json()
    except Exception:
        parsed = resp.text

    # use existing extract_maprows_info (defined in notebook) to normalize records
    try:
        recs = extract_maprows_info(parsed)
    except Exception as e:
        print(f"[page {p}] extract_maprows_info failed: {e}")
        recs = []

    if not recs:
        print(f"[page {p}] no records extracted")
    else:
        all_records.extend(recs)
        print(f"[page {p}] extracted {len(recs)} records (total so far: {len(all_records)})")

# build dataframe and save
if not all_records:
    print("No records collected from pages 1..20.")
else:
    df_all = pd.DataFrame(all_records)
    out_fname = "laundromats.csv"
    df_all.to_csv(out_fname, index=False)
    display(df_all.head(20))
    print(f"Saved {len(df_all)} records to {out_fname}") 
# Reuse existing notebook imports and helpers (scraper, extract_maprows_info, pd, time, re, max_retries, timeout)

[page 1] extracted 10 records (total so far: 10)
[page 2] extracted 10 records (total so far: 20)
[page 3] extracted 10 records (total so far: 30)
[page 4] extracted 10 records (total so far: 40)
[page 5] extracted 10 records (total so far: 50)
[page 6] extracted 10 records (total so far: 60)
[page 7] extracted 10 records (total so far: 70)
[page 8] extracted 10 records (total so far: 80)
[page 9] extracted 10 records (total so far: 90)
[page 10] extracted 10 records (total so far: 100)
[page 11] extracted 10 records (total so far: 110)
[page 12] extracted 10 records (total so far: 120)
[page 13] extracted 10 records (total so far: 130)
[page 14] extracted 10 records (total so far: 140)
[page 15] extracted 10 records (total so far: 150)
[page 16] extracted 10 records (total so far: 160)
[page 17] extracted 10 records (total so far: 170)
[page 18] extracted 10 records (total so far: 180)
[page 19] extracted 10 records (total so far: 190)
[page 20] extracted 10 records (total so far: 200)
[page 21] extracted 10 records (total so far: 210)
[page 22] extracted 10 records (total so far: 220)
[page 23] extracted 10 records (total so far: 230)
[page 24] extracted 10 records (total so far: 240)
[page 25] extracted 10 records (total so far: 250)
[page 26] extracted 10 records (total so far: 260)
[page 27] extracted 10 records (total so far: 270)
[page 28] extracted 10 records (total so far: 280)
[page 29] extracted 10 records (total so far: 290)
[page 30] extracted 10 records (total so far: 300)
[page 31] extracted 10 records (total so far: 310)
[page 32] extracted 10 records (total so far: 320)
[page 33] extracted 10 records (total so far: 330)
[page 34] extracted 10 records (total so far: 340)
[page 35] extracted 10 records (total so far: 350)
[page 36] extracted 10 records (total so far: 360)
[page 37] extracted 10 records (total so far: 370)
[page 38] extracted 10 records (total so far: 380)
[page 39] extracted 10 records (total so far: 390)
[page 40] extracted 10 records (total so far: 400)
[page 41] extracted 10 records (total so far: 410)
[page 42] extracted 10 records (total so far: 420)
[page 43] extracted 10 records (total so far: 430)
[page 44] extracted 10 records (total so far: 440)
[page 45] extracted 10 records (total so far: 450)
[page 46] extracted 10 records (total so far: 460)
[page 47] extracted 10 records (total so far: 470)
[page 48] extracted 10 records (total so far: 480)
[page 49] extracted 10 records (total so far: 490)
[page 50] extracted 10 records (total so far: 500)
[page 51] extracted 10 records (total so far: 510)
[page 52] extracted 10 records (total so far: 520)
[page 53] extracted 10 records (total so far: 530)
[page 54] extracted 10 records (total so far: 540)
[page 55] extracted 10 records (total so far: 550)
[page 56] extracted 10 records (total so far: 560)
[page 57] extracted 10 records (total so far: 570)
[page 58] extracted 10 records (total so far: 580)
[page 59] extracted 10 records (total so far: 590)
[page 60] extracted 10 records (total so far: 600)
[page 61] extracted 10 records (total so far: 610)
[page 62] extracted 10 records (total so far: 620)
[page 63] extracted 10 records (total so far: 630)
[page 64] extracted 10 records (total so far: 640)
[page 65] extracted 10 records (total so far: 650)
[page 66] extracted 10 records (total so far: 660)
[page 67] extracted 10 records (total so far: 670)
[page 68] extracted 10 records (total so far: 680)
[page 69] extracted 10 records (total so far: 690)
[page 70] extracted 10 records (total so far: 700)
[page 71] extracted 10 records (total so far: 710)
[page 72] extracted 10 records (total so far: 720)
[page 73] extracted 10 records (total so far: 730)
[page 74] extracted 10 records (total so far: 740)
[page 75] extracted 10 records (total so far: 750)
[page 76] extracted 10 records (total so far: 760)
[page 77] extracted 10 records (total so far: 770)
[page 78] extracted 10 records (total so far: 780)
[page 79] extracted 10 records (total so far: 790)
[page 80] extracted 10 records (total so far: 800)
[page 81] extracted 10 records (total so far: 810)
[page 82] extracted 10 records (total so far: 820)
[page 83] extracted 10 records (total so far: 830)
[page 84] extracted 10 records (total so far: 840)
[page 85] extracted 10 records (total so far: 850)
[page 86] extracted 10 records (total so far: 860)
[page 87] extracted 10 records (total so far: 870)
[page 88] extracted 10 records (total so far: 880)
[page 89] extracted 10 records (total so far: 890)
[page 90] extracted 10 records (total so far: 900)
[page 91] extracted 10 records (total so far: 910)
[page 92] extracted 10 records (total so far: 920)
[page 93] extracted 10 records (total so far: 930)
[page 94] extracted 10 records (total so far: 940)
[page 95] extracted 10 records (total so far: 950)
[page 96] extracted 10 records (total so far: 960)
[page 97] extracted 10 records (total so far: 970)
[page 98] extracted 10 records (total so far: 980)
[page 99] extracted 10 records (total so far: 990)
[page 100] extracted 10 records (total so far: 1000)
[page 101] extracted 10 records (total so far: 1010)
[page 102] extracted 10 records (total so far: 1020)
[page 103] extracted 10 records (total so far: 1030)
[page 104] extracted 10 records (total so far: 1040)
[page 105] extracted 10 records (total so far: 1050)
[page 106] extracted 10 records (total so far: 1060)
[page 107] extracted 10 records (total so far: 1070)
[page 108] extracted 10 records (total so far: 1080)
[page 109] extracted 10 records (total so far: 1090)
[page 110] extracted 10 records (total so far: 1100)
[page 111] extracted 10 records (total so far: 1110)
[page 112] extracted 10 records (total so far: 1120)
[page 113] extracted 10 records (total so far: 1130)
[page 114] extracted 10 records (total so far: 1140)
[page 115] extracted 10 records (total so far: 1150)
[page 116] extracted 10 records (total so far: 1160)
[page 117] extracted 10 records (total so far: 1170)
[page 118] extracted 10 records (total so far: 1180)
[page 119] extracted 10 records (total so far: 1190)
[page 120] extracted 10 records (total so far: 1200)
[page 121] extracted 10 records (total so far: 1210)
[page 122] extracted 10 records (total so far: 1220)
[page 123] extracted 10 records (total so far: 1230)
[page 124] extracted 10 records (total so far: 1240)
[page 125] extracted 10 records (total so far: 1250)
[page 126] extracted 10 records (total so far: 1260)
[page 127] extracted 10 records (total so far: 1270)
[page 128] extracted 10 records (total so far: 1280)
[page 129] extracted 10 records (total so far: 1290)
[page 130] extracted 10 records (total so far: 1300)
[page 131] extracted 10 records (total so far: 1310)
[page 132] extracted 10 records (total so far: 1320)
[page 133] extracted 10 records (total so far: 1330)
[page 134] extracted 10 records (total so far: 1340)
[page 135] extracted 10 records (total so far: 1350)
[page 136] extracted 10 records (total so far: 1360)
[page 137] extracted 10 records (total so far: 1370)
[page 138] extracted 10 records (total so far: 1380)
[page 139] extracted 10 records (total so far: 1390)
[page 140] extracted 10 records (total so far: 1400)
[page 141] extracted 10 records (total so far: 1410)
[page 142] extracted 10 records (total so far: 1420)
[page 143] extracted 10 records (total so far: 1430)
[page 144] extracted 10 records (total so far: 1440)
[page 145] extracted 10 records (total so far: 1450)
[page 146] extracted 10 records (total so far: 1460)
[page 147] extracted 10 records (total so far: 1470)
[page 148] extracted 10 records (total so far: 1480)
[page 149] extracted 10 records (total so far: 1490)
[page 150] extracted 10 records (total so far: 1500)
[page 151] extracted 10 records (total so far: 1510)
[page 152] extracted 10 records (total so far: 1520)
[page 153] extracted 10 records (total so far: 1530)
[page 154] extracted 10 records (total so far: 1540)
[page 155] extracted 10 records (total so far: 1550)
[page 156] extracted 10 records (total so far: 1560)
[page 157] extracted 10 records (total so far: 1570)
[page 158] extracted 10 records (total so far: 1580)
[page 159] extracted 10 records (total so far: 1590)
[page 160] extracted 10 records (total so far: 1600)
[page 161] extracted 10 records (total so far: 1610)
[page 162] extracted 10 records (total so far: 1620)
[page 163] extracted 10 records (total so far: 1630)
[page 164] extracted 10 records (total so far: 1640)
[page 165] extracted 10 records (total so far: 1650)
[page 166] extracted 10 records (total so far: 1660)
[page 167] extracted 10 records (total so far: 1670)
[page 168] extracted 10 records (total so far: 1680)
[page 169] extracted 10 records (total so far: 1690)
[page 170] extracted 10 records (total so far: 1700)
[page 171] extracted 10 records (total so far: 1710)
[page 172] extracted 10 records (total so far: 1720)
[page 173] extracted 10 records (total so far: 1730)
[page 174] extracted 10 records (total so far: 1740)
[page 175] extracted 10 records (total so far: 1750)
[page 176] extracted 10 records (total so far: 1760)
[page 177] extracted 10 records (total so far: 1770)
[page 178] extracted 10 records (total so far: 1780)
[page 179] extracted 10 records (total so far: 1790)
[page 180] extracted 10 records (total so far: 1800)
[page 181] extracted 10 records (total so far: 1810)
[page 182] extracted 10 records (total so far: 1820)
[page 183] extracted 10 records (total so far: 1830)
[page 184] extracted 10 records (total so far: 1840)
[page 185] extracted 10 records (total so far: 1850)
[page 186] extracted 10 records (total so far: 1860)
[page 187] extracted 10 records (total so far: 1870)
[page 188] extracted 10 records (total so far: 1880)
[page 189] extracted 10 records (total so far: 1890)
[page 190] extracted 10 records (total so far: 1900)
[page 191] extracted 10 records (total so far: 1910)
[page 192] extracted 10 records (total so far: 1920)
[page 193] extracted 10 records (total so far: 1930)
[page 194] extracted 10 records (total so far: 1940)
[page 195] extracted 10 records (total so far: 1950)
[page 196] extracted 10 records (total so far: 1960)
[page 197] extracted 10 records (total so far: 1970)
[page 198] extracted 10 records (total so far: 1980)
[page 199] extracted 10 records (total so far: 1990)
[page 200] extracted 10 records (total so far: 2000)
[page 201] extracted 10 records (total so far: 2010)
[page 202] extracted 10 records (total so far: 2020)
[page 203] extracted 10 records (total so far: 2030)
[page 204] extracted 10 records (total so far: 2040)
[page 205] extracted 10 records (total so far: 2050)
[page 206] extracted 10 records (total so far: 2060)
[page 207] extracted 10 records (total so far: 2070)
[page 208] extracted 10 records (total so far: 2080)
[page 209] extracted 10 records (total so far: 2090)
[page 210] extracted 10 records (total so far: 2100)
[page 211] extracted 10 records (total so far: 2110)
[page 212] extracted 10 records (total so far: 2120)
[page 213] extracted 10 records (total so far: 2130)
[page 214] extracted 10 records (total so far: 2140)
[page 215] extracted 10 records (total so far: 2150)
[page 216] extracted 10 records (total so far: 2160)
[page 217] extracted 10 records (total so far: 2170)
[page 218] extracted 10 records (total so far: 2180)
[page 219] extracted 10 records (total so far: 2190)
[page 220] extracted 10 records (total so far: 2200)
[page 221] extracted 10 records (total so far: 2210)
[page 222] extracted 10 records (total so far: 2220)
[page 223] extracted 10 records (total so far: 2230)
[page 224] extracted 10 records (total so far: 2240)
[page 225] extracted 10 records (total so far: 2250)
[page 226] extracted 10 records (total so far: 2260)
[page 227] extracted 10 records (total so far: 2270)
[page 228] extracted 10 records (total so far: 2280)
[page 229] extracted 10 records (total so far: 2290)
[page 230] extracted 10 records (total so far: 2300)
[page 231] extracted 10 records (total so far: 2310)
[page 232] extracted 10 records (total so far: 2320)
[page 233] extracted 10 records (total so far: 2330)
[page 234] extracted 10 records (total so far: 2340)
[page 235] extracted 10 records (total so far: 2350)
[page 236] extracted 10 records (total so far: 2360)
[page 237] extracted 10 records (total so far: 2370)
[page 238] extracted 10 records (total so far: 2380)
[page 239] extracted 10 records (total so far: 2390)
[page 240] extracted 10 records (total so far: 2400)
[page 241] extracted 10 records (total so far: 2410)
[page 242] extracted 10 records (total so far: 2420)
[page 243] extracted 10 records (total so far: 2430)
[page 244] extracted 10 records (total so far: 2440)
[page 245] extracted 10 records (total so far: 2450)
[page 246] extracted 10 records (total so far: 2460)
[page 247] extracted 10 records (total so far: 2470)
[page 248] extracted 10 records (total so far: 2480)
[page 249] extracted 10 records (total so far: 2490)
[page 250] extracted 10 records (total so far: 2500)
[page 251] extracted 10 records (total so far: 2510)
[page 252] extracted 10 records (total so far: 2520)
[page 253] extracted 10 records (total so far: 2530)
[page 254] extracted 10 records (total so far: 2540)
[page 255] extracted 10 records (total so far: 2550)
[page 256] extracted 10 records (total so far: 2560)
[page 257] extracted 10 records (total so far: 2570)
[page 258] extracted 10 records (total so far: 2580)
[page 259] extracted 10 records (total so far: 2590)
[page 260] extracted 10 records (total so far: 2600)
[page 261] extracted 10 records (total so far: 2610)
[page 262] extracted 10 records (total so far: 2620)
[page 263] extracted 10 records (total so far: 2630)
[page 264] extracted 10 records (total so far: 2640)
[page 265] extracted 10 records (total so far: 2650)
[page 266] extracted 10 records (total so far: 2660)
[page 267] extracted 10 records (total so far: 2670)
[page 268] extracted 10 records (total so far: 2680)
[page 269] extracted 10 records (total so far: 2690)
[page 270] extracted 10 records (total so far: 2700)
[page 271] extracted 10 records (total so far: 2710)
[page 272] extracted 10 records (total so far: 2720)
[page 273] extracted 10 records (total so far: 2730)
[page 274] extracted 10 records (total so far: 2740)
[page 275] extracted 10 records (total so far: 2750)
[page 276] extracted 10 records (total so far: 2760)
[page 277] extracted 10 records (total so far: 2770)
[page 278] extracted 10 records (total so far: 2780)
[page 279] extracted 10 records (total so far: 2790)
[page 280] extracted 10 records (total so far: 2800)
[page 281] extracted 10 records (total so far: 2810)
[page 282] extracted 10 records (total so far: 2820)
[page 283] extracted 10 records (total so far: 2830)
[page 284] extracted 10 records (total so far: 2840)
[page 285] extracted 10 records (total so far: 2850)
[page 286] extracted 10 records (total so far: 2860)
[page 287] extracted 10 records (total so far: 2870)
[page 288] extracted 10 records (total so far: 2880)
[page 289] extracted 10 records (total so far: 2890)
[page 290] extracted 10 records (total so far: 2900)
[page 291] extracted 10 records (total so far: 2910)
[page 292] extracted 10 records (total so far: 2920)
[page 293] extracted 10 records (total so far: 2930)
[page 294] extracted 10 records (total so far: 2940)
[page 295] extracted 10 records (total so far: 2950)
[page 296] extracted 10 records (total so far: 2960)
[page 297] extracted 10 records (total so far: 2970)
[page 298] extracted 10 records (total so far: 2980)
[page 299] extracted 10 records (total so far: 2990)
[page 300] extracted 10 records (total so far: 3000)
[page 301] extracted 10 records (total so far: 3010)
[page 302] extracted 10 records (total so far: 3020)
[page 303] extracted 10 records (total so far: 3030)
[page 304] extracted 10 records (total so far: 3040)
[page 305] extracted 10 records (total so far: 3050)
[page 306] extracted 10 records (total so far: 3060)
[page 307] extracted 10 records (total so far: 3070)
[page 308] extracted 10 records (total so far: 3080)
[page 309] extracted 10 records (total so far: 3090)
[page 310] extracted 10 records (total so far: 3100)
[page 311] extracted 10 records (total so far: 3110)
[page 312] extracted 10 records (total so far: 3120)
[page 313] extracted 10 records (total so far: 3130)
[page 314] extracted 10 records (total so far: 3140)
[page 315] extracted 10 records (total so far: 3150)
[page 316] extracted 10 records (total so far: 3160)
[page 317] extracted 10 records (total so far: 3170)
[page 318] extracted 10 records (total so far: 3180)
[page 319] extracted 10 records (total so far: 3190)
[page 320] extracted 10 records (total so far: 3200)
[page 321] extracted 10 records (total so far: 3210)
[page 322] extracted 10 records (total so far: 3220)
[page 323] extracted 10 records (total so far: 3230)
[page 324] extracted 10 records (total so far: 3240)
[page 325] extracted 10 records (total so far: 3250)
[page 326] extracted 10 records (total so far: 3260)
[page 327] extracted 10 records (total so far: 3270)
[page 328] extracted 10 records (total so far: 3280)
[page 329] extracted 10 records (total so far: 3290)
[page 330] extracted 10 records (total so far: 3300)
[page 331] extracted 10 records (total so far: 3310)
[page 332] extracted 10 records (total so far: 3320)
[page 333] extracted 10 records (total so far: 3330)
[page 334] extracted 10 records (total so far: 3340)
[page 335] extracted 10 records (total so far: 3350)
[page 336] extracted 10 records (total so far: 3360)
[page 337] extracted 10 records (total so far: 3370)
[page 338] extracted 10 records (total so far: 3380)
[page 339] extracted 10 records (total so far: 3390)
[page 340] extracted 10 records (total so far: 3400)
[page 341] extracted 10 records (total so far: 3410)
[page 342] extracted 10 records (total so far: 3420)
[page 343] extracted 10 records (total so far: 3430)
[page 344] extracted 10 records (total so far: 3440)
[page 345] extracted 10 records (total so far: 3450)
[page 346] extracted 10 records (total so far: 3460)
[page 347] extracted 10 records (total so far: 3470)
[page 348] extracted 10 records (total so far: 3480)
[page 349] extracted 10 records (total so far: 3490)
[page 350] extracted 10 records (total so far: 3500)
[page 351] extracted 10 records (total so far: 3510)
[page 352] extracted 10 records (total so far: 3520)
[page 353] extracted 10 records (total so far: 3530)
[page 354] extracted 10 records (total so far: 3540)
[page 355] extracted 10 records (total so far: 3550)
[page 356] extracted 10 records (total so far: 3560)
[page 357] extracted 10 records (total so far: 3570)
[page 358] extracted 10 records (total so far: 3580)
[page 359] extracted 10 records (total so far: 3590)
[page 360] extracted 10 records (total so far: 3600)
[page 361] extracted 10 records (total so far: 3610)
[page 362] extracted 10 records (total so far: 3620)
[page 363] extracted 10 records (total so far: 3630)
[page 364] extracted 10 records (total so far: 3640)
[page 365] extracted 10 records (total so far: 3650)
[page 366] extracted 10 records (total so far: 3660)
[page 367] extracted 10 records (total so far: 3670)
[page 368] extracted 10 records (total so far: 3680)
[page 369] extracted 10 records (total so far: 3690)
[page 370] extracted 10 records (total so far: 3700)
[page 371] extracted 10 records (total so far: 3710)
[page 372] extracted 10 records (total so far: 3720)
[page 373] extracted 10 records (total so far: 3730)
[page 374] extracted 10 records (total so far: 3740)
[page 375] extracted 10 records (total so far: 3750)
[page 376] extracted 10 records (total so far: 3760)
[page 377] extracted 10 records (total so far: 3770)
[page 378] extracted 10 records (total so far: 3780)
[page 379] extracted 10 records (total so far: 3790)
[page 380] extracted 10 records (total so far: 3800)
[page 381] extracted 10 records (total so far: 3810)

,id,name,fulladdress,alias,ranking,rating,number_of_rates,price_level,created_at,longitude,...,city_id,category_id,category2_id,category3_id,short_description,image,openTime,sub_cat,affiliate,city
0,6255982,Mr. Appliance Of Milwaukee,"S83W18745 Saturn Dr, Muskego, WI 53150, United...",mr-appliance-of-milwaukee,2147483647,4.9,0,0,2025-10-02T02:10:45.000000Z,-88.148119,...,12689,705,703,711,,https://static.where-e.com/United_States/Racin...,"[{'day_in_week': 4, 'time_open': 28800, 'time_...","[{'id': 705, 'name': 'Appliances & Repair Serv...",None,"{'id': 12689, 'timezone': None}"
1,6242673,Sherman's Warehouse Clearance Center,"1203 E Marietta Ave, Peoria Heights, IL 61616",sherman-s-warehouse-clearance-center,2147483647,4.8,0,0,2025-09-27T01:00:23.000000Z,-89.577461,...,13228,735,713,703,,https://static.where-e.com/United_States/Peori...,"[{'day_in_week': 4, 'time_open': 36000, 'time_...","[{'id': 735, 'name': 'Appliances Stores', 'slu...",None,"{'id': 13228, 'timezone': None}"
2,3584218,Brandts Appliance Parts & Services,"4415 77th St, Vero Beach, FL 32967",brandts-appliance-parts-services-1,2147483647,4.9,0,0,2025-06-06T21:17:00.000000Z,-80.430491,...,12236,705,703,706,,https://static.where-e.com/United_States/Brand...,"[{'day_in_week': 4, 'time_open': 28800, 'time_...","[{'id': 705, 'name': 'Appliances & Repair Serv...",None,"{'id': 12236, 'timezone': None}"
3,3583514,Convenient Appliance Service,"4018 Country Club Rd, Winston-Salem, NC 27104,...",convenient-appliance-service,2147483647,4.9,0,0,2025-06-06T21:14:11.000000Z,-80.318848,...,12761,705,703,706,,https://static.where-e.com/United_States/Conve...,"[{'day_in_week': 4, 'time_open': 28800, 'time_...","[{'id': 705, 'name': 'Appliances & Repair Serv...",None,"{'id': 12761, 'timezone': None}"
4,3742616,Clean Rite Center,"4618 A Edmondson Ave, Baltimore, MD 21229, Uni...",clean-rite-center-13,2048544665,4.9,0,0,2025-06-08T02:14:27.000000Z,-76.694793,...,12317,703,706,705,,https://static.where-e.com/United_States/Clean...,"[{'day_in_week': 4, 'time_open': 60, 'time_clo...","[{'id': 703, 'name': 'Laundromats', 'slug': 'L...",None,"{'id': 12317, 'timezone': None}"
5,5851544,Appliances USA Pro,"2429 Americana Blvd, Orlando, FL 32839",appliances-usa-pro-1,2027375284,4.9,0,0,2025-09-07T03:50:30.000000Z,-81.414712,...,13016,705,703,718,,https://static.where-e.com/United_States/Orang...,"[{'day_in_week': 4, 'time_open': 60, 'time_clo...","[{'id': 705, 'name': 'Appliances & Repair Serv...",None,"{'id': 13016, 'timezone': None}"
6,5761785,Mr. Appliance of Tampa Bay,"600 S Magnolia Ave Suite 190, Tampa, FL 33606,...",mr-appliance-of-tampa-bay-1,1905821775,4.8,0,0,2025-09-06T00:26:34.000000Z,-82.465495,...,12666,705,703,706,,https://static.where-e.com/United_States/Hills...,"[{'day_in_week': 4, 'time_open': 60, 'time_clo...","[{'id': 705, 'name': 'Appliances & Repair Serv...",None,"{'id': 12666, 'timezone': None}"
7,3777182,"All American Appliance Service,LLC.","7584 Olive Blvd #207, St. Louis, MO 63130, Uni...",all-american-appliance-service-llc,1847683736,4.7,0,0,2025-06-08T19:21:15.000000Z,-90.335353,...,12565,705,703,706,,https://static.where-e.com/United_States/All-A...,"[{'day_in_week': 4, 'time_open': 25200, 'time_...","[{'id': 705, 'name': 'Appliances & Repair Serv...",None,"{'id': 12565, 'timezone': None}"
8,3583134,Mr. Appliance of Cincinnati,"11144 Luschek Dr, Cincinnati, OH 45241, United...",mr-appliance-of-cincinnati,1834133660,4.8,0,0,2025-06-06T21:12:47.000000Z,-84.379893,...,10830,705,703,706,,https://static.where-e.com/United_States/Mr-Ap...,"[{'day_in_week': 4, 'time_open': 60, 'time_clo...","[{'id': 705, 'name': 'Appliances & Repair Serv...",None,"{'id': 10830, 'timezone': None}"
9,3681921,Washland Laundry Inc,"116 N 19th Ave, Melrose Park, IL 60160, United...",washland-laundry-inc,1786370029,4.9,0,0,2025-06-07T14:19:25.000000Z,-87.856970,...,12209,703,706,705,,https://static.where-e.com/United_States/Washl...,"[{'day_in_week': 4, 'time_open': 21600, 'time_...","[{'id': 703, 'name': 'Laundromats', 'slug': 'L...",None,"{'id': 12209, 'timezone': None}"
10,3861988,Clean Rite Center,"7017 Liberty Rd, Gwynn Oak, MD 21207, United S...",clean-rite-center-18,1672381057,4.9,0,0,2025-06-13T15:16:29.000000Z,-76.733982,...,12317,703,706,705,,https://static.where-e.com/United_States/Clean...,"[{'day_in_week': 4, 'time_open': 60, 'time_clo...","[{'id': 703, 'name': 'Laundromats', 'slug': 'L...",None,"{'id': 12317, 'timezone': None}"
11,3820525,Drake Cleaners,"197 N Evergreen St, Memphis, TN 38112, United ...",drake-cleaners,1566534155,4.9,0,0,2025-06-13T04:18:38.000000Z,-90.003641,...,12307,706,702,703,,https://static.where-e.com/United_States/Drake...,"[{'day_in_week': 4, 'time_open': 25200, 'time_...","[{'id': 706, 'name': 'Dry Cleaning Services', ...",None,"{'id': 12307, 'timezone': None}"
12,3861473,Laundromax,"3500 Sullivant Ave, Columbus, OH 43204, United...",laundromax-19,1530709050,4.9,0,0,2025-06-13T15:13:10.000000Z,-83.092653,...,12080,703,706,705,,https://static.where-e.com/United_States/Laund...,"[{'day_in_week': 4, 'time_open': 60, 'time_clo...","[{'id': 703, 'name': 'Laundromats', 'slug': 'L...",None,"{'id': 12080, 'timezone': None}"
13,3777522,Dew's,"2203 Hwy 17 S Suite 2, North Myrtle Beach, SC ...",dew-s,1465572494,4.9,0,0,2025-06-08T19:22:27.000000Z,-78.710960,...,13592,705,735,703,,https://static.where-e.com/United_States/Dew-S...,"[{'day_in_week': 4, 'time_open': 32400, 'time_...","[{'id': 705, 'name': 'Appliances & Repair Serv...",None,"{'id': 13592, 'timezone': None}"
14,5802533,Wickford Appliance Sales & Service,"207 Newport Ave, Pawtucket, RI 02861",wickford-appliance-sales-service-4,1418883635,4.8,0,0,2025-09-06T01:44:44.000000Z,-71.353758,...,13253,705,735,703,,https://static.where-e.com/United_States/Brist...,"[{'day_in_week': 4, 'time_open': 34200, 'time_...","[{'id': 705, 'name': 'Appliances & Repair Serv...",None,"{'id': 13253, 'timezone': None}"
15,5732415,Beacon Services & Appliances,"6680 N Lecanto Hwy, Beverly Hills, FL 34465",beacon-services-appliances-1,1405321181,4.9,0,0,2025-09-05T08:31:13.000000Z,-82.432957,...,13756,705,703,712,,https://static.where-e.com/United_States/Citru...,"[{'day_in_week': 4, 'time_open': 30600, 'time_...","[{'id': 705, 'name': 'Appliances & Repair Serv...",None,"{'id': 13756, 'timezone': None}"
16,3615218,Jan's Professional Dry Cleaners - Michigan's P...,"130 Griffes St, Clio, MI 48420",jan-s-professional-dry-cleaners-michigan-s-pre...,1389126304,4.8,0,0,2025-06-07T00:27:30.000000Z,-83.736199,...,14845,706,702,703,,https://static.where-e.com/United_States/Jan-S...,"[{'day_in_week': 4, 'time_open': 25200, 'time_...","[{'id': 706, 'name': 'Dry Cleaning Services', ...",None,"{'id': 14845, 'timezone': None}"
17,3718972,Laundry Lounge,"3359 N Academy Blvd, Colorado Springs, CO 8091...",laundry-lounge-7,1386421092,4.8,0,0,2025-06-07T21:43:17.000000Z,-104.755289,...,12345,703,706,705,,https://static.where-e.com/United_States/Laund...,"[{'day_in_week': 4, 'time_open': 25200, 'time_...","[{'id': 703, 'name': 'Laundromats', 'slug': 'L...",None,"{'id': 12345, 'timezone': None}"
18,4750221,CD One Price Cleaners,"7948 Calumet Ave, Munster, IN 46321, United St...",cd-one-price-cleaners-18,1371296516,4.6,0,0,2025-07-05T18:42:38.000000Z,-87.509474,...,12406,706,702,703,,https://static.where-e.com/United_States/Lake/...,None,"[{'id': 706, 'name': 'Dry Cleaning Services', ...",None,"{'id': 12406, 'timezone': None}"
19,3613448,Dublin Cleaners,"Sawmill & 270, 6845 Caine Rd, Columbus, OH 432...",dublin-cleaners-1,1329611643,4.8,0,0,2025-06-07T00:06:33.000000Z,-83.090364,...,12080,706,703,702,,https://static.where-e.com/United_States/Dubli...,"[{'day_in_week': 4, 'time_open': 25200, 'time_...","[{'id': 706, 'name': 'Dry Cleaning Services', ...",None,"{'id': 12080, 'timezone': None}"

Saved 9080 records to laundromats.csv

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("laundromats.csv")
df.head()

,id,name,fulladdress,alias,ranking,rating,number_of_rates,price_level,created_at,longitude,...,city_id,category_id,category2_id,category3_id,short_description,image,openTime,sub_cat,affiliate,city
0,3766375,-,"2455 Whipple Ave NW, Canton, OH 44708, United ...",brand-ab950709,31160754,4.3,0,0,2025-06-08T05:57:59.000000Z,-81.425068,...,14015,706,703,702,NaN,https://static.where-e.com/United_States/_ec06...,"[{'day_in_week': 4, 'time_open': 27000, 'time_...","[{'id': 706, 'name': 'Dry Cleaning Services', ...",NaN,"{'id': 14015, 'timezone': None}"
1,3847843,$2.79 Cleaners,"100 Lake Ave, Maitland, FL 32751, United States",2-79-cleaners,55630976,4.4,0,0,2025-06-13T12:40:39.000000Z,-81.365724,...,12421,706,702,703,NaN,https://static.where-e.com/United_States/2-79-...,"[{'day_in_week': 4, 'time_open': 25200, 'time_...","[{'id': 706, 'name': 'Dry Cleaning Services', ...",NaN,"{'id': 12421, 'timezone': None}"
2,3721639,$3.00 Pink Cleaners,"1240 Middle Country Rd, Selden, NY 11784, Unit...",3-00-pink-cleaners,22261966,4.1,0,0,2025-06-07T22:12:40.000000Z,-73.056162,...,11274,706,702,703,NaN,https://static.where-e.com/United_States/3-00-...,"[{'day_in_week': 4, 'time_open': 25200, 'time_...","[{'id': 706, 'name': 'Dry Cleaning Services', ...",NaN,"{'id': 11274, 'timezone': None}"
3,3720588,$3.99 A Cleaners,"87 Boston Post Rd, Orange, CT 06477, United St...",3-99-a-cleaners,71624324,4.7,0,0,2025-06-07T22:01:43.000000Z,-72.989665,...,12096,706,702,703,NaN,https://static.where-e.com/United_States/3-99-...,"[{'day_in_week': 4, 'time_open': 25200, 'time_...","[{'id': 706, 'name': 'Dry Cleaning Services', ...",NaN,"{'id': 12096, 'timezone': None}"
4,1990718,1 Clean Laundry,"4036 13th St, St Cloud, FL 34769, United States",1-clean-laundry,0,0.0,0,0,2025-02-19T19:44:21.000000Z,-81.311374,...,6141,706,703,735,NaN,https://static.where-e.com/United_States/1-Cle...,"[{'day_in_week': 4, 'time_open': 27000, 'time_...","[{'id': 706, 'name': 'Dry Cleaning Services', ...",NaN,"{'id': 6141, 'timezone': None}"

In [3]:
import re

In [4]:



# Load your dataset (adjust filename if needed)
# df = pd.read_csv('your_file.csv')

# Example pattern: captures two-letter state abbreviation before ZIP code
state_pattern = re.compile(r'\b([A-Z]{2})\b(?=\s*\d{5})')

def extract_state(address):
    """Extracts state abbreviation (e.g., FL, NY, CA) from address string."""
    if pd.isna(address):
        return None
    match = state_pattern.search(address)
    if match:
        return match.group(1)
    return None

# Apply function to your actual column
df['state'] = df['fulladdress'].apply(extract_state)

# Preview results
print(df.head())

        id                 name  \
0  3766375                    -
1  3847843       $2.79 Cleaners
2  3721639  $3.00 Pink Cleaners
3  3720588     $3.99 A Cleaners
4  1990718      1 Clean Laundry

                                         fulladdress               alias  \
0  2455 Whipple Ave NW, Canton, OH 44708, United ...      brand-ab950709
1    100 Lake Ave, Maitland, FL 32751, United States       2-79-cleaners
2  1240 Middle Country Rd, Selden, NY 11784, Unit...  3-00-pink-cleaners
3  87 Boston Post Rd, Orange, CT 06477, United St...     3-99-a-cleaners
4    4036 13th St, St Cloud, FL 34769, United States     1-clean-laundry

    ranking  rating  number_of_rates  price_level  \
0  31160754     4.3                0            0
1  55630976     4.4                0            0
2  22261966     4.1                0            0
3  71624324     4.7                0            0
4         0     0.0                0            0

                    created_at  longitude  ...  category_id  category2_id  \
0  2025-06-08T05:57:59.000000Z -81.425068  ...          706           703
1  2025-06-13T12:40:39.000000Z -81.365724  ...          706           702
2  2025-06-07T22:12:40.000000Z -73.056162  ...          706           702
3  2025-06-07T22:01:43.000000Z -72.989665  ...          706           702
4  2025-02-19T19:44:21.000000Z -81.311374  ...          706           703

   category3_id  short_description  \
0           702                NaN
1           703                NaN
2           703                NaN
3           703                NaN
4           735                NaN

                                               image  \
0  https://static.where-e.com/United_States/_ec06...
1  https://static.where-e.com/United_States/2-79-...
2  https://static.where-e.com/United_States/3-00-...
3  https://static.where-e.com/United_States/3-99-...
4  https://static.where-e.com/United_States/1-Cle...

                                            openTime  \
0  [{'day_in_week': 4, 'time_open': 27000, 'time_...
1  [{'day_in_week': 4, 'time_open': 25200, 'time_...
2  [{'day_in_week': 4, 'time_open': 25200, 'time_...
3  [{'day_in_week': 4, 'time_open': 25200, 'time_...
4  [{'day_in_week': 4, 'time_open': 27000, 'time_...

                                             sub_cat affiliate  \
0  [{'id': 706, 'name': 'Dry Cleaning Services', ...       NaN
1  [{'id': 706, 'name': 'Dry Cleaning Services', ...       NaN
2  [{'id': 706, 'name': 'Dry Cleaning Services', ...       NaN
3  [{'id': 706, 'name': 'Dry Cleaning Services', ...       NaN
4  [{'id': 706, 'name': 'Dry Cleaning Services', ...       NaN

                              city state
0  {'id': 14015, 'timezone': None}    OH
1  {'id': 12421, 'timezone': None}    FL
2  {'id': 11274, 'timezone': None}    NY
3  {'id': 12096, 'timezone': None}    CT
4   {'id': 6141, 'timezone': None}    FL

[5 rows x 22 columns]

In [5]:
df.head()

,id,name,fulladdress,alias,ranking,rating,number_of_rates,price_level,created_at,longitude,...,category_id,category2_id,category3_id,short_description,image,openTime,sub_cat,affiliate,city,state
0,3766375,-,"2455 Whipple Ave NW, Canton, OH 44708, United ...",brand-ab950709,31160754,4.3,0,0,2025-06-08T05:57:59.000000Z,-81.425068,...,706,703,702,NaN,https://static.where-e.com/United_States/_ec06...,"[{'day_in_week': 4, 'time_open': 27000, 'time_...","[{'id': 706, 'name': 'Dry Cleaning Services', ...",NaN,"{'id': 14015, 'timezone': None}",OH
1,3847843,$2.79 Cleaners,"100 Lake Ave, Maitland, FL 32751, United States",2-79-cleaners,55630976,4.4,0,0,2025-06-13T12:40:39.000000Z,-81.365724,...,706,702,703,NaN,https://static.where-e.com/United_States/2-79-...,"[{'day_in_week': 4, 'time_open': 25200, 'time_...","[{'id': 706, 'name': 'Dry Cleaning Services', ...",NaN,"{'id': 12421, 'timezone': None}",FL
2,3721639,$3.00 Pink Cleaners,"1240 Middle Country Rd, Selden, NY 11784, Unit...",3-00-pink-cleaners,22261966,4.1,0,0,2025-06-07T22:12:40.000000Z,-73.056162,...,706,702,703,NaN,https://static.where-e.com/United_States/3-00-...,"[{'day_in_week': 4, 'time_open': 25200, 'time_...","[{'id': 706, 'name': 'Dry Cleaning Services', ...",NaN,"{'id': 11274, 'timezone': None}",NY
3,3720588,$3.99 A Cleaners,"87 Boston Post Rd, Orange, CT 06477, United St...",3-99-a-cleaners,71624324,4.7,0,0,2025-06-07T22:01:43.000000Z,-72.989665,...,706,702,703,NaN,https://static.where-e.com/United_States/3-99-...,"[{'day_in_week': 4, 'time_open': 25200, 'time_...","[{'id': 706, 'name': 'Dry Cleaning Services', ...",NaN,"{'id': 12096, 'timezone': None}",CT
4,1990718,1 Clean Laundry,"4036 13th St, St Cloud, FL 34769, United States",1-clean-laundry,0,0.0,0,0,2025-02-19T19:44:21.000000Z,-81.311374,...,706,703,735,NaN,https://static.where-e.com/United_States/1-Cle...,"[{'day_in_week': 4, 'time_open': 27000, 'time_...","[{'id': 706, 'name': 'Dry Cleaning Services', ...",NaN,"{'id': 6141, 'timezone': None}",FL

In [12]:
# Overwrite the same file with the updated data
df.to_csv("laundromats.csv", index=False)
print(" Changes appended (file updated successfully).")

 Changes appended (file updated successfully).

In [7]:

import ast  # safely evaluate string representation of list/dict


# Function to extract id and name
def extract_ids_and_names(detail_str):
    try:
        data_list = ast.literal_eval(detail_str)  # safely parse string to Python list
        return [(item['id'], item['name']) for item in data_list]
    except Exception as e:
        return None

# Apply the function to create new columns
df['extracted'] = df['sub_cat'].apply(extract_ids_and_names)

# Optional: separate into two new columns for clarity
df['ids'] = df['extracted'].apply(lambda x: [i[0] for i in x] if x else None)
df['names'] = df['extracted'].apply(lambda x: [i[1] for i in x] if x else None)

print(df[['ids', 'names']])

                  ids                                              names
0     [706, 703, 702]  [Dry Cleaning Services, Laundromats, Sewing & ...
1     [706, 702, 703]  [Dry Cleaning Services, Sewing & Alterations S...
2     [706, 702, 703]  [Dry Cleaning Services, Sewing & Alterations S...
3     [706, 702, 703]  [Dry Cleaning Services, Sewing & Alterations S...
4     [706, 703, 735]  [Dry Cleaning Services, Laundromats, Appliance...
...               ...                                                ...
9075  [706, 702, 703]  [Dry Cleaning Services, Sewing & Alterations S...
9076  [706, 703, 735]  [Dry Cleaning Services, Laundromats, Appliance...
9077  [703, 705, 706]  [Laundromats, Appliances & Repair Services, Dr...
9078  [735, 706, 703]  [Appliances Stores, Dry Cleaning Services, Lau...
9079  [703, 706, 735]  [Laundromats, Dry Cleaning Services, Appliance...

[9080 rows x 2 columns]

In [10]:

# Function to extract the first name
def extract_first_name(detail_str):
    try:
        data_list = ast.literal_eval(detail_str)  # convert string to list of dicts
        if isinstance(data_list, list) and len(data_list) > 0:
            return data_list[0].get('name')
    except Exception:
        return None
    return None

# Apply function
df['category'] = df['sub_cat'].apply(extract_first_name)

print(df[['sub_cat', 'category']])

                                                sub_cat               category
0     [{'id': 706, 'name': 'Dry Cleaning Services', ...  Dry Cleaning Services
1     [{'id': 706, 'name': 'Dry Cleaning Services', ...  Dry Cleaning Services
2     [{'id': 706, 'name': 'Dry Cleaning Services', ...  Dry Cleaning Services
3     [{'id': 706, 'name': 'Dry Cleaning Services', ...  Dry Cleaning Services
4     [{'id': 706, 'name': 'Dry Cleaning Services', ...  Dry Cleaning Services
...                                                 ...                    ...
9075  [{'id': 706, 'name': 'Dry Cleaning Services', ...  Dry Cleaning Services
9076  [{'id': 706, 'name': 'Dry Cleaning Services', ...  Dry Cleaning Services
9077  [{'id': 703, 'name': 'Laundromats', 'slug': 'L...            Laundromats
9078  [{'id': 735, 'name': 'Appliances Stores', 'slu...      Appliances Stores
9079  [{'id': 703, 'name': 'Laundromats', 'slug': 'L...            Laundromats

[9080 rows x 2 columns]

In [11]:
df.head()

,id,name,fulladdress,alias,ranking,rating,number_of_rates,price_level,created_at,longitude,...,image,openTime,sub_cat,affiliate,city,state,extracted,ids,names,category
0,3766375,-,"2455 Whipple Ave NW, Canton, OH 44708, United ...",brand-ab950709,31160754,4.3,0,0,2025-06-08T05:57:59.000000Z,-81.425068,...,https://static.where-e.com/United_States/_ec06...,"[{'day_in_week': 4, 'time_open': 27000, 'time_...","[{'id': 706, 'name': 'Dry Cleaning Services', ...",NaN,"{'id': 14015, 'timezone': None}",OH,"[(706, Dry Cleaning Services), (703, Laundroma...","[706, 703, 702]","[Dry Cleaning Services, Laundromats, Sewing & ...",Dry Cleaning Services
1,3847843,$2.79 Cleaners,"100 Lake Ave, Maitland, FL 32751, United States",2-79-cleaners,55630976,4.4,0,0,2025-06-13T12:40:39.000000Z,-81.365724,...,https://static.where-e.com/United_States/2-79-...,"[{'day_in_week': 4, 'time_open': 25200, 'time_...","[{'id': 706, 'name': 'Dry Cleaning Services', ...",NaN,"{'id': 12421, 'timezone': None}",FL,"[(706, Dry Cleaning Services), (702, Sewing & ...","[706, 702, 703]","[Dry Cleaning Services, Sewing & Alterations S...",Dry Cleaning Services
2,3721639,$3.00 Pink Cleaners,"1240 Middle Country Rd, Selden, NY 11784, Unit...",3-00-pink-cleaners,22261966,4.1,0,0,2025-06-07T22:12:40.000000Z,-73.056162,...,https://static.where-e.com/United_States/3-00-...,"[{'day_in_week': 4, 'time_open': 25200, 'time_...","[{'id': 706, 'name': 'Dry Cleaning Services', ...",NaN,"{'id': 11274, 'timezone': None}",NY,"[(706, Dry Cleaning Services), (702, Sewing & ...","[706, 702, 703]","[Dry Cleaning Services, Sewing & Alterations S...",Dry Cleaning Services
3,3720588,$3.99 A Cleaners,"87 Boston Post Rd, Orange, CT 06477, United St...",3-99-a-cleaners,71624324,4.7,0,0,2025-06-07T22:01:43.000000Z,-72.989665,...,https://static.where-e.com/United_States/3-99-...,"[{'day_in_week': 4, 'time_open': 25200, 'time_...","[{'id': 706, 'name': 'Dry Cleaning Services', ...",NaN,"{'id': 12096, 'timezone': None}",CT,"[(706, Dry Cleaning Services), (702, Sewing & ...","[706, 702, 703]","[Dry Cleaning Services, Sewing & Alterations S...",Dry Cleaning Services
4,1990718,1 Clean Laundry,"4036 13th St, St Cloud, FL 34769, United States",1-clean-laundry,0,0.0,0,0,2025-02-19T19:44:21.000000Z,-81.311374,...,https://static.where-e.com/United_States/1-Cle...,"[{'day_in_week': 4, 'time_open': 27000, 'time_...","[{'id': 706, 'name': 'Dry Cleaning Services', ...",NaN,"{'id': 6141, 'timezone': None}",FL,"[(706, Dry Cleaning Services), (703, Laundroma...","[706, 703, 735]","[Dry Cleaning Services, Laundromats, Appliance...",Dry Cleaning Services